.MainButton {
  width: 120px;
  padding: 10px;
  color: white;
  text-align: center;
  cursor: pointer;
  font-family: sans-serif;
}

@media screen and (max-width: 850px) {
  .MainButton {
    width: 80px;
    padding: 5px;
  }
}
