.MyTasks {
  height: 95vh;
  margin: 0 20px;
}

.mytasks-text {
  font-size: 40px;
  font-family: sans-serif;
  margin: 20px 0;
}

.search-area {
  display: flex;
  width: 400px;
  justify-content: space-between;
}
