.MyTasks {
  min-height: 100vh;
  margin: 0 20px;
}

.mytasks-text {
  font-size: 40px;
  font-family: sans-serif;
  margin: 20px 0;
}

.search-area {
  display: flex;
  width: 400px;
  justify-content: space-between;
}
.task-boxes {
  width: 90%;

  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 850px) {
  .MyTasks {
    text-align: center;
  }
  .task-boxes {
    margin: 0 auto;
    justify-content: center;
  }
  .search-area {
    margin: 0 auto;
    width: auto;
    justify-content: center;
  }
}
