.createtask-text {
  font-size: 40px;
  margin: 20px 0;
}

.CreateTask {
  font-family: sans-serif;
  min-height: 100vh;
  margin: 0 20px;
}

.task-info {
  display: flex;
  width: 400px;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  margin: 20px 0;
}

.create-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 400px;
}

@media screen and (max-width: 850px) {
  .CreateTask {
    text-align: center;
  }
  .task-info1 {
    display: none;
  }
  .task-info {
    width: auto;
    justify-content: center;
  }
  .task-info-name {
    margin-right: 10px;
  }
  .create-buttons {
    margin: 0 auto;
    width: auto;
  }
}
