.Navbar {
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.navbar-right-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  padding: 10px 0;
}

.navbar-left-part {
  width: 60%;
}

.navbar-item {
  font-family: sans-serif;
  cursor: pointer;
}

.underlined {
  text-decoration: underline;
  text-underline-offset: 10px;
}
