.TaskBox {
  width: 320px;
  font-family: sans-serif;
  padding: 20px;
  height: 240px;
  font-size: 30px;
  margin: 30px 30px 30px 0;
  cursor: pointer;
}

.taskbox-text {
  height: 80%;
}

.taskbox-category {
  text-align: end;
}
@media screen and (max-width: 850px) {
  .TaskBox {
    margin: 30px;
    font-size: 17px;
    height: 200px;
    width: 250px;
  }
}
